body {
  margin: 0;
  padding: 0;
}

.titlebar {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 70px;

  background: rgba(100, 180, 200, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  z-index: 1000;
}

.logo-left img {
  height: 60px;
  width: auto;
  object-fit: contain;
  margin-right: 180px;
  padding: 0;
}

.logo-right img {
  height: 50px;
  width: auto;
  object-fit: contain;
  margin-left: 60px;
}

.title-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-center h1 {
  color: rgb(0, 17, 36);
  font-size: 29px;
  font-style: bold;
  font-weight: 650;
  margin: 0;
  padding: 0;
}
